body {
    background-image: url(categoryimage12.jpeg);
    /* height: 100vh; */
    /* background-size: cover; */
    /* background-position: center; */
}

.login-page {
    width: 400px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgb(161, 223, 194);
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 5%;
}

.form input {
    font-family: "Robotot", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
    outline: 0;
    background: rgb(24, 114, 84);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.form button:hover,
.form button:active {
    background: #1bcf27;
}


/* .form .message{
    margin: 15px 0 0;
    color: aliceblue;
} */


/* .form .message a {

} */

.form .register-form {
    display: none;
}